*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.bbl
*.blg
*.nav
*.snm
*.vrb
stack.yaml
stack.yaml.lock
.stack-work/*
chess/chess.cabal
chess/stack.yaml.lock
chess/writing/dissertation/notes.md
*.bcf
*.run.xml
log.txt
DemoFile.hs
chess/writing/dissertation/diss.pdf
*.dvi
*.markdown.lua
*.out.ps
.vscode/*
chess/project-code.zip
chess/project.pdf
*.o
*.hi
chess/src/.benchmarks/6
chess/src/.benchmarks/8
chess/src/.benchmarks/10
chess/src/.benchmarks/backandforth
chess/src/.benchmarks/bastianvariations
chess/src/.benchmarks/last4of10
chess/src/.benchmarks/middlesegments
chess/src/.benchmarks/README.md
