chess/writing/spec/spec.aux
chess/writing/spec/spec.fdb_latexmk
chess/writing/spec/spec.fls
chess/writing/spec/spec.log
chess/writing/spec/spec.synctex.gz
chess/writing/spec/spec.toc
chess/writing/spec/spec.out
chess/writing/spec/spec.bbl
chess/writing/spec/spec.blg
